.about-wrapper {
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  justify-content: center;
  gap: 30px;
  background: var(--secondary-color);

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.about-wrapper::before {
  content: "";
  position: absolute;
  inset: -10%;
  background:
  radial-gradient(ellipse 25% 20% at 35% 35%, color-mix(in srgb, var(--gradient-color) 87%, var(--secondary-color)) 0%, transparent 80%), 
  radial-gradient(ellipse 30% 40% at 70% 40%, color-mix(in srgb, var(--gradient-color2) 85%, var(--secondary-color)) 0%, transparent 70%),
  radial-gradient(ellipse 30% 40% at 33% 62%, color-mix(in srgb, var(--third-color) 77%, var(--secondary-color)) 0%, transparent 75%), 
  var(--secondary-color);
filter: blur(10px);
  z-index: 0;
}

.about-wrapper > * {
  position: relative;
  z-index: 1;
}

.about-image-wrapper,
.about-text-wrapper {
  position: relative;
  z-index: 1;
}
.about-image {
  width: 100%;
  max-width: 550px;
  height: auto;
  margin: 0 auto;
  display: block;
  
}



.about-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .about-wrapper {
    grid-template-columns: 1fr;
    gap: 10px;
    align-content: center;
    margin: 0 auto;
    
    width: 100%;
    
  }
  
  .about-image {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
    margin-top: -70px;

  }

  .about-text-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 60px 0 60px;
  }
    
}

.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.about-contact-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  margin-top: 40px;
  justify-content: space-between;

  a {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
  
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 3px;
  }

  p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
  }
}

// Mobile view

@media (max-width: 600px) {

  .about-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .about-image {
    margin-top: -50px;
    width: 100%;
  }

  .about-text-wrapper {
  
    h2 {
      font-size: fill(1.5rem, 5vw, 2rem);
   
    }

  }

}

