.hero-wrapper {
  
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  margin-top: calc(100vh - 91vh);

  h1 {
    font-size: 1rem;
    margin-top: -10px;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
  }
}

.hero-title {
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  justify-content: top;

  margin: 0 auto;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
