.navbar-top-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
}

.navbar-top {
  height: 100%;
  margin: 0 auto;
  padding: 20px 30px 0px 30px;
  
  


    a {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;    
    }
   
}

.menu-links-left {
    display: flex;
    justify-content: flex-start;
    gap: 25%;
    align-items: center;
}

.menu-links-right {
    display: flex;
    justify-content: flex-end;
    gap: 25%;
    align-items: center;
}

.logo-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    a {
        text-decoration: none;
        color: inherit;
        font-weight: 1000;
        font-size: 3rem; 
        letter-spacing: -0.05rem;   
    }
    h1 {
        font-size: 1rem;
        text-align: center;
        margin-top: -5px;
        font-weight: 500;
    }
}

.menu-links-left, .menu-links-right {
    a {
        font-size: 1.3rem;
        text-decoration: none;
        color: inherit;
        letter-spacing: -0.05rem;
    }

    a:hover {
        color: var(--third-color);
    }
}

.links-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;

}

.logo-back-to-home {
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.logo-back-to-home:hover {
    color: var(--third-color)
}


#navbar       { display: block; } /* visible on desktop */
#navbarMobile { display: none;  } /* hidden on desktop  */