.navbar-top-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
  
  


    a {
        margin: 0 35px;
        
        text-transform: lowercase;
        font-weight: 900;
        font-size: 2rem;    
    }
    img {
        width: auto;
        height: 33px;
    }
   
}

.links-navbar {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    
    a {
        text-decoration: none;
        color: inherit;
        text-transform: lowercase;
        font-weight: 600;
        font-size: 1.7rem;
    }

    a:hover {
        color: var(--third-color);
        
    }
}

.logo-back-to-home {
    color: inherit;
    text-decoration: none;
}

.logo-back-to-home:hover {
    color: var(--third-color)
}


#navbar       { display: block; } /* visible on desktop */
#navbarMobile { display: none;  } /* hidden on desktop  */