.projects-wrapper {
   margin: 40px auto;
   
    h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: var(--third-color);
    }
}

.projects-title {
    
    span {
        font-weight: 200;
        text-transform: none;
        font-size: 1.1rem;
        margin: 0 3px;
        color: var(--primary-color);
    }
}
.projects-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
}

.projects-item-big {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
    
}

.projects-item-image-big {
    width: 100%;
    height: 100%;

    img {
        display: block;
        width: 100%;
        aspect-ratio: 17 / 9;
        object-fit: cover;
    }
}

.projects-item-small {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    img {
        display: block;
        width: 100%;
        aspect-ratio: 3 / 2;
        object-fit: cover;
    }
}

.project-card {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.on-hover-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    justify-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;

    cursor: pointer;
}

.project-heading span {
    color: var(--third-color);
}

.project-card:hover .on-hover-card { // add :hover
    opacity: 1;
}

.project-tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    opacity: 0.7;
    

    p {
        border: 1px solid var(--secondary-color);
        padding: 5px 15px;
        width: fit-content;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        border-radius: 3px;
    }
}

.link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--third-color);
    border-radius: 3px;
    cursor: pointer;

    .link {
        stroke: var(--third-color);
    }

    .github {
        fill: var(--third-color);
    }
}

.link-wrapper:hover {
    background-color: var(--third-color);
    
    a {
        color: var(--primary-color);
    }

    .github {
        fill: var(--primary-color);
    }

    .link {
        stroke: var(--primary-color);
    }
}





.more-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    

    a {
        text-decoration: none;
        color: var(--third-color);
        padding: 30px 10px;
        font-size: 1.2rem;
    }

    svg {
        width: 24px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
     .projects-item-small {
        
        grid-template-columns: 1fr;
        gap: 40px;

    }

    
}

// Mobile view

@media (max-width: 600px) {

    .projects-item-small {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        background-color: red;
    }

 
}
