.tech-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-container {
    width: 100%;
    height: 100%;
    max-width: 90px;

    img {
        display: block;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }


}

.tech-icon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}