@use "./navbar.scss";
@use "./hero-pic";
@use "./mobile";
@use "./tablet";



:root {
  --primary-color: #490049;
  --secondary-color: rgb(223, 218, 223);
  --third-color: rgb(255, 57, 159);
}



body {
  font-family: "filson-pro", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0 45px;
}

header, main {
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
}


main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 0;
  width: 100%;
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  margin: 0 auto;

}