@use "./navbar.scss";
@use "./hero-pic";
@use "./mobile";
@use "./tablet";



:root {
  --primary-color: #490049;
  --secondary-color: rgb(242, 233, 244);
  --third-color: rgb(255, 57, 159);
}



body {
  font-family: "filson-pro", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  
}

header, main {
  max-width: 1800px;
  margin: 0 auto;
  width: 100%;
}


main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px 0;
  width: 100%;
  
  background-color: var(--secondary-color);


}