@use "./navbar.scss";
@use "./hero-pic";
@use "./mobile";
@use "./tablet";
@use "./projects";
@use "./about";
@use "./tech";
@use "./contact";
@use "./experience";

:root {
  --primary-color: rgb(35, 1, 43);
  --secondary-color: rgb(255, 246, 246);
  --third-color: rgb(255, 57, 159);
  --accent-color: rgb(234, 234, 234);
  --gradient-color: rgb(222, 192, 229);
  --gradient-color2: #ffca91;
  --gradient-color3: #171717;
  --third-faded: rgba(255, 57, 159, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "forma-djr-text", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  max-width: 100%;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}


header {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
}

main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;

  width: 100%;
  
  background-color: var(--secondary-color);
  margin: 0 auto;

}

p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
  max-width: 620px;
  letter-spacing: 0.05rem;

}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

.hidden {
  display: none;
}

.section-heading, .section-subheading {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--third-color);
}

.hero-section a,
.about-section a {
  text-decoration: none;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 3px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-transform: uppercase;


   &:hover {
      background-color: var(--third-color);
      color: var(--secondary-color);
    }

}


.section-subheading span {
  color: var(--primary-color);
}


.tech-stack-section,
.about-section,
.contact-section-wrapper,
.experience-section {
  padding: 10px 40px;
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
}

.tech-stack-section {
  margin-bottom: 30px;
}

.projects-wrapper {
  padding: 10px 40px;
  max-width: 1450px;
  margin: 0 auto;
}


@media (max-width: 768px) {
  
   
}

@media (max-width: 1024px) {
  
  .projects-wrapper,
  .tech-stack-section,
  .contact-section-wrapper,
  .experience-section {
    
    padding: 30px;
  }

  p {
    width: 100%;
  }

  .tech-info-wrapper p {
    max-width: 100%;
}

.arrow-right {
  display: none;
}
}

